.cartImage{
    translate: -50% -50%;
}

@media screen and (max-height: 500px) {
    .cartImage{
        display: none
    }
}

.component *{
    font-family: Oswald;
}

.cartBook{
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-items: center;
    margin-top: 30px
}

.cartBook a{
    display: grid;
    justify-items: center;
}

#right{
    width: calc(100% - 300px);
    min-width: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cartTitle{
    font-size: 20px;
}

.deleteModal{
    display: inline-flex;
    width: 100%;
}

.deleteModal button{
    width: 100%;
}

.delete svg{
    padding: auto;
    translate: 0 -15%
}

hr{
    background-color: black;
    top: 0; 
    translate: -50% !important;
    left: 50% !important;
    width: 90% !important;
}

.payBtn1{
font-size: 30px;
    position: fixed;
    z-index: 10
}

@media screen and (max-width: 650px){
    .cartBook{
        grid-template-columns: 1fr !important;
    }

    .payBtn1{
        font-size: 20px;
        }

        #finalPrice{
            font-size: 30px
        }
        
        .cartBook{
            width: 100%;
        }
}