.cartImage{
    translate: -50% -50%;
}
@media screen and (max-height: 500px) {
    .cartImage{
        display: none
    }
}
.component *{
    font-family: Oswald;
}
.cartBook{

    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-items: center;
    margin-top: 30px
}
.cartBook a{
    /* padding-inline: auto !important; */
    display: grid;
    /* justify-content: center; */
    justify-items: center;
        }

#right{
    width: calc(100% - 300px);
    min-width: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cartTitle{
    font-size: 20px;
}
.deleteModal{
    display: inline-flex;

    /* background-color: orange; */
    /* position: relative; */
    width: 100%;
}
.deleteModal button{
    /* position: relative; */
    width: 100%;
}
.delete svg{
    /* height: 10px !important; */
    padding: auto;
    translate: 0 -15%
}

hr{
    background-color: black;
    top: 0; 
    translate: -50% !important;
    left: 50% !important;
    width: 90% !important;
}
.payBtn1{
font-size: 30px;
    position: fixed;
    z-index: 10
}
/* .payBtn2{
font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 10px;
} */
@media screen and (max-width: 650px){
    .cartBook{
        /* width: 75%; */
        grid-template-columns: 1fr !important;
    }
    .payBtn1{
        font-size: 20px;
        /* bottom: 30px */
        }

        #finalPrice{
            font-size: 30px
        }
        .cartBook{
            width: 100%;
        }
}