#footer{
    background-color: var(--dark);
    color: snow;
}

#footerLinks{
    display: flex;
    justify-content: center;
    gap: 10px;
    top: 10px;
}
@media screen and (max-width: 400px) {
    #footerLinks{
        font-size: 12px;
    }
    #socials{
        margin-top: 30px !important
    }
}
@media screen and (max-width: 300px) {
    #footerLinks, #copyright{
        font-size: 9px;
    }
}

#footerLinks a:hover{
    color: var(--goldenrod);
    transition: .5s;
    text-decoration: underline;
}

#socials{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    margin-inline: auto;
    width: fit-content
}

.footerIcons:hover{
    transition: .5s;
    color: var(--goldenrod)
}

#copyright{
    text-align: center;
    margin-top: 20px;
   bottom: 10px;
    opacity: .7;
}