
#books{
    /* width: 100% !important; */
    height: calc(100vh - 70px);
    /* min-height: 400px; */
    /* background-image: url('../images/books.jpg'); */
    background-position-y: bottom;
    background-size: cover;
    text-align: center;
    font-size: 5em;
    padding-top: 7%;
    font-weight: bold;
    /* color: snow; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* animation: books 35s infinite alternate ease-in-out; */
    overflow: hidden;
    margin-bottom: 0
}
#books1, #books2{
    top: 0;
    left: 0;
    background-size: cover;
}
#books1{
    background-image: url('../images/books.jpg');
    background-position-y: bottom;
    z-index: 2;

    animation: books1 20s linear infinite;
}

@keyframes books1 {
    0%{
        opacity: 1
    }
    20%{
        opacity: 1
    }
    25%{
        opacity: 0
    }
    75%{
        opacity: 0
    }
    80%{
        opacity: 1
    }
    100%{
        opacity: 1
    }
}

#books2{
    background-image: url('../images/books2.jpg');
    background-position-x: 100%;
    z-index: 1;
    animation: books2 20s 4s linear infinite
}

@keyframes books2 {
    0%{
        opacity: 0;
        background-position-x: 100%;
    }
    8%{
        opacity: 1
    }
    53%{
        opacity: 1
    }
    58%{
        opacity: 0
    }
    100%{
        opacity: 0;
        background-position-x: 20%;
    }
}

#books p:first-of-type{
    z-index: 3;
    font-family: Oswald, sans-serif;
    background-color: rgba(0, 0, 0, .4);
    font-size: max(8vw, 50px);
    margin-top: 10vh;
    backdrop-filter: blur(2px);
}

#books p:last-of-type{
    z-index: 3;
    font-weight: 200;
    font-size: max(3vw, 30px);
    font-family: Oswald;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
}

#caret{
    z-index: 3;
    animation: jump 2s linear infinite alternate;
    bottom: 5%;
    /* left: 50%; */
}

@keyframes jump {
    from{
        translate: 0 -10%
    }
    to{
        translate: 0 10%
    }
}

@media screen and (max-width: 520px) {
    #books{
        height: calc(100vh - 45px);
    }
  }




  




#whyUs, #opinions{
    position: relative;
    display: block;
    padding-top: min(50px, 4vw);
    /* padding-bottom: auto !important; */
    background-color: snow;
    color: var(--dark)
    /* min-height: calc(100vh - 70px) */
}

#whyUsP, #opinionsP{
    font-family: Oswald;
    font-weight: 600;
    font-size: max(3vw, 15px);
    padding-inline: 5px
}



#reasons{
    /* padding: auto; */
    padding-top: min(50px, 4vw);
    padding-bottom: min(50px, 3vw);
    width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-rows: 20px 300px; */

}
#reasons p{
    font-family: Oswald;
    font-weight: 200 !important;
    font-size: 2vw ;
    min-height: 6vw;
}

#reasons img{
    margin-inline: auto;
    width: 70%
}

@media screen and (max-width: 785px) {


    #reasons{
        grid-template-columns: 1fr;
        gap: 10px
    }

   #reasons div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   }
   #reasons div:nth-child(2) img{
    order: 1
   }
   #reasons div:nth-child(2) p{
    order: 2
   }
   #reasons p, .quotes{
    height: fit-content;
    min-height: 0;
    font-size: 3vw !important;
    /* padding-inline: 15px; */
    }
}





@media screen and (max-width: 400px) {

    #reasons{
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px
    }

   #reasons div{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px
   }
   #reasons div:nth-child(2) img{
    order: 2
   }
   #reasons div:nth-child(2) p{
    order: 1
   }
   #reasons img{
    width: 60%
   }
   #reasons p, .quotes{
    font-size: 4vw !important;
   }
}

.spacer{
    margin-bottom: 50px;
    height: 50px
}

#opinionsP{
    margin-bottom: 50px
}
#quotesdiv{
    background-color: orange;
    width: 90%;
    height: fit-content;
    position: relative
}
.quotes{
    max-width: 640px;
    width: 90%;
    top: 0;
    /* margin-top: min(50px, 3vw); */
    /* margin-bottom: min(50px, 3vw); */
    /* margin-bottom:200px; */
    /* margin-inline: auto; */
    padding-inline: auto;
    font-family: Oswald;
    font-size: 26px ;
    padding-inline: 20px !important;
    font-weight: 200;

    position: relative;
    left: 50%;
    translate: -50%
}
.quotes *{
    position: relative;
    margin-inline: auto;
    text-align: center;
}
.autor{
    text-align: right;
    margin-top: 20px;
    font-weight: 400;
}
.quotes img{
    max-width: 130px;
    width: 30%
}

#quote1{
    animation: quote 21s infinite;
}
#quote2{
    animation: quote 21s -14s infinite;
}
#quote3{
    animation: quote 21s -7s infinite;
}

@keyframes quote {
    0%{
        opacity: 1;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    98%{
        opacity: 0;
    }
}

