#topBar{
    height: 70px;
    border-bottom: 1px solid var(--dark);
    background-color: snow;
    position: fixed !important;
    z-index: 11
}

#topBarLogo{
    display: block;
    margin-left: 50px
}

#topBarLinks{
    display: flex;
    gap: 20px;
    justify-items: center;
    position: absolute;
   left: 250px;
   top: 50%;
   translate: 0% -50%;
   transition: opacity .5s;
}

#xMark, #hamburger{
    display: none;
    transition: color .3s
}

#topBarLinks a{
    color: var(--dark) 
}

#topBarLinks a:hover{
    color: dimgray;
    transition: color .3s
}

#topBarIcons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: absolute;
   right: 50px;
   top: 50%;
   translate: 0 -50%;
   width: 213px;
}

.topBarIcons{
    color: var(--dark) 
}

.topBarIcons:hover{
    color: dimgray;
    transition: color .3s;
}

#basket{
    position: relative
}

#notification{
    width: 10px;
    aspect-ratio: 1/1;
    position: absolute;
}

#searchBar{
    position: fixed;
    width: 75vw;
    min-width: 250px;
    background-color: snow;
    border: 0 solid silver;
    left: 50%;
    translate: -50%;
    height: 60px;
    line-height: 60px;
    transition: top .35s ease-out;
    background: linear-gradient(#dbdae1, snow);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4),
    15px 15px 15px rgba(0, 0, 0, .3),
    20px 20px 15px rgba(0, 0, 0, .2),
    30px 30px 15px rgba(0, 0, 0, .1),
    inset 6px 4px 2px #fff,
    inset -6px -4px 2px #b2b2b2;
    overflow: hidden;
    color: var(--dark);
    font-size: 20px;
    z-index: 11
}

#searchInput{
    width: calc(100% - 50px);
    margin-left: 10px;
    margin-right: 5px;
    float:left;
outline: none;
text-align: center;
background-color: transparent;
}
#searchInput::placeholder{
    color: gray;
    font-family: consolas;
}
#glass{
    line-height: 30px;
   color: grey
}

@media screen and (max-width: 888px){
    #topBarLinks{
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 100%;
        opacity: 0;
        translate: 0 0;
        flex-direction: column;
        z-index: 100;
        justify-content: center !important;
        align-items: center !important;
        background-color: rgb(0, 0, 0, .7);
        color: whitesmoke;
        backdrop-filter: blur(5px);
        font-size: 2em;
    }

    #topBarLinks a{
        color: snow
    }

    #topBarLinks a:hover{
        color: lightgray
    }

    .open{
        left: 0 !important;
        opacity: 1 !important;
        transition: left .5s, opacity .5s  !important;
    }

    #xMark{
        display: block;
        position: absolute;
        top: 50px;
        right: 50px
    }

    #topBarIcons{
        grid-template-columns: repeat(4, 1fr);
        width: max(30%, 300px);
        right: 25px
    }

    #hamburger{
        display: block;
    }
}

@media screen and (max-width: 520px) {
    #topBar{
        height: 45px;
    }

    #topBarLogo{
        width: 100px;
        margin-left: 5%
       }

    #topBarIcons{
        width: max(50%, 140px);
        right: 10px
    }

    .topBarIcons{
        font-size: 20px;
    }
}